#sidebar:checked + #sideb {
    display: none;
}
#sb1{
    display: none;
}


@media screen and (max-width: 992px) {
    #sideb{
        position: absolute;
        top: 0;
        z-index: 1;
        display: none;
    }
    .body{
        width: 100%;
        position: relative;
    }
    #sidebar:checked + #sideb {
        display: block;

        
    
    } 
    #sb1{
        display: block;
    }
  
}
